.bg{
	background-color: rgb(31, 165, 102);;
}

.areaBtn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.customBtn{
	border-radius: 10px;
	background-color: rgba(31, 165, 102, 0.850);
}

.customBtn:hover{
	background-color: rgb(31, 165, 102);
}
