.bg{
	background-color:rgb(31, 165, 102);
}

.inputArea{
	padding-left: 100px;
	padding-right: 100px;
}

.areaBtn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.customBtn{
	border-radius: 10px;
	background-color: rgba(31, 165, 102, 0.850);
}

.customBtn:hover{
	background-color: rgb(31, 165, 102);
}


.links{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 15px;
}

.links Link{
	margin: 0;
}

.linkStyle{
	color: rgb(31, 165, 102);
}
