.inputArea{
	padding-left: 100px;
	padding-right: 100px;
}

.areaBtn{
	display: flex;
	justify-content: center;
	align-items: center;
}

.customBtn{
	border-radius: 10px;
}

.links{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-top: 15px;
}

.links Link{
	margin: 0;
}
