.navBg{
	background-color: rgb(31, 165, 102);
	padding-left: 25px;
	padding-right: 25px;
}

.teste{
	display: flex;
	justify-content: center;
}

.img{
	width: 45px;
	height: 45px;
	margin-right: 15px;
	align-self: center;
}
