.btn_done_checked{
	color: #adff2f;
}

.btn_done_checked:hover{
	color: #808080;
}

.btn_done_unchecked{
	color: #808080;
}

.btn_done_unchecked:hover{
	color: #adff2f;
}

.btn_delete{
	color: #ff0000;
}

.btn_delete:hover{
	color: #aa0000;
}

.button:hover{
	cursor: pointer;
}
